<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/semantic/semantic.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="ui inverted basic segment banner">
    <div class="ui inverted text menu">

        <div class="item"><h2 class="ui inverted header">品位</h2></div>

        <div class="menu right">
            <div class="item">
                <button type="button" class="ui inverted circular button">
                    <i class="icon github alternate"></i>
                    登录
                </button>
            </div>
        </div>

    </div>

    <h1 class="ui inverted center aligned header slogan">
        有味道的产品
        <p class="ui sub header">不错过任何一个新产品</p>
        <button class="ui large green circular button"><i class="icon plus"></i> 分享产品</button>
    </h1>

</div>


<div class="ui basic segment content">
    <h1 class="ui center aligned header">产品列表</h1>

    <div class="ui centered grid container">
        <div class="ten wide column">

        <div id="products-wrapper">
        {% for dt, items in products_dict.items %}
            {% include 'components/products.tpl.html' with date=dt products=items %}
        {% endfor %}
        </div>

        <button id="load-btn" type="button" class="ui green circular button load-more">
            加载更多
        </button>

        </div>
    </div>

</div>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
        $("#load-btn").bind("click", function(e) {
            var lastDate = $("#products-wrapper .date").last().text();

            $.ajax({
                type: "GET",
                url: "/?last_dt=" + lastDate,
                success: function (response) {
                    console.log(response);
                    $("#products-wrapper").append(response);
                },
                error: function (err) {
                    alert(err);
                }
            });

        });
    });
</script>

</body>
</html>